attrs==25.3.0
fastjsonschema==2.21.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-core==5.7.2
jupytext==1.17.0
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
nbformat==5.10.4
packaging==24.2
pandoc
platformdirs==4.3.7
plumbum==1.9.0
ply==3.11
pyyaml==6.0.2
referencing==0.36.2
rpds-py==0.24.0
traitlets==5.14.3
typing-extensions==4.13.2
